# /etc/caddy/Caddyfile
# Simple configuration for Caddy (https://caddyserver.com)
# Caddy acts a reverse proxy and handles dynamic SSL certificate generation
# Config changes can be applied by reloading using `systemctl restart caddy`
{
        log {
                output file /var/log/caddy/access.log
        }
}

(logging) {
        log {
                output file /var/log/caddy/{args[0]}.access.log
                format console
        }
}

# Any of the domains can be used for the API endpoints but the website is
# configured to use a single canonical domain to help avoid confusion
ardentinsight.com,
ardentindustry.com,
ardent-industry.com,
www.ardentinsight.com,
www.ardent-insight.com,
www.ardentindustry.com,
www.ardent-industry.com {
        redir https://ardent-insight.com{uri}
}

ardent-insight.com {
        import logging www.ardent-insight.com
        reverse_proxy http://127.0.0.1:3000
}

api.ardentinsight.com,
api.ardent-insight.com,
api.ardentindustry.com,
api.ardent-industry.com {
        import logging api.ardent-insight.com
        rewrite * /api{uri}
        reverse_proxy http://127.0.0.1:3001
}

auth.ardentinsight.com,
auth.ardent-insight.com,
auth.ardentindustry.com,
auth.ardent-industry.com {
        import logging auth.ardent-insight.com
        rewrite * /auth{uri}
        reverse_proxy http://127.0.0.1:3003
}

downloads.ardentinsight.com,
downloads.ardent-insight.com,
downloads.ardentindustry.com,
downloads.ardent-industry.com {
        import logging downloads.ardent-insight.com
        file_server {
                root /opt/backup/ardent-data
                index index.html
        }
}

:80, :443 {
        import logging default
        respond "Access denied" 403 {
                close
        }
}
